@model ToDoListSANA.Models.CategoryViewModel

<h1>Category</h1>
    <hr style="width:20%"/>
@using (Html.BeginForm())
{
    <div class="form-group">
        Name
        <div class="col-md-10">
            @Html.EditorFor(model => model.name, new { htmlAttributes = new { @value = @Model.name } })
            @Html.ValidationMessageFor(model => model.name, "")
        </div>
    </div>
    <br />
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Create" />
    </div>
}
